@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 dark:bg-stone-950;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .bg-iframe {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 90%,
      rgba(0, 0, 0, 1) 100%
    );
    pointer-events: none;
  }
}
